.AddNewItemButton {
    background-color: deepskyblue;
    transition: background-color 0.3s ease;
    color: black;
    border-color:deepskyblue;
}

.AddNewItemButton:hover {
    background-color: blueviolet;
    border-color: blueviolet;
}

.ModalHeader,
.titleLabel {
    color: black;
}

.inputField {
    width: 100%;
}

.formControlInvalid input {
    border-color: red;
    background-color: rgb(255, 212, 212);
}

.errorText {
    color: red;
}